name: Coding Time Map

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: 2674
          template: classic
          base: ""
          config_timezone: America/Toronto

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year 

          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_url: https://hackatime.hackclub.com/api/hackatime/v1